.git
.gitignore
.env
.env.backup
.env.production
vendor/
node_modules/
npm-debug.log
yarn-error.log
storage/logs/*
!storage/logs/.gitignore
storage/framework/cache/data/*
!storage/framework/cache/data/.gitignore
storage/framework/sessions/*
!storage/framework/sessions/.gitignore
storage/framework/views/*
!storage/framework/views/.gitignore
storage/framework/testing/*
!storage/framework/testing/.gitignore
bootstrap/cache/*
!bootstrap/cache/.gitignore
public/hot
public/build
public/storage
.DS_Store
Thumbs.db
Dockerfile
docker-compose.yml